{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Cart - {{ item.product.name }}{% endblock %}
{% block content %}
    <div class="container border border-1 rounded-3 bg-light p-4 mt-5 w-50">
    <h4 class="text-center">{{ item.product.name }}</h4>
    <p>Description: {{ item.product.description }}</p>
    <p>Category: {{ item.product.category.name }}</p>
    <p>Price: ${{ item.product.price }}</p>
    <p>Stock: {{ item.product.stock }}</p>
    <p>Vendor: {{ item.product.vendor.first_name }} {{ item.product.vendor.last_name }} ({{ item.product.vendor.email }})</p>
    <form method=post>
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.item_count) }}
        </dl>
        <input type=submit value="Update Cart" class="btn btn-primary">
    </form>
    <form method=post action="{{ url_for("cart.remove", id=item.product.id) }}">
        <input type="submit" value="Delete Item from Cart" class="btn btn-danger mt-2">
    </form>
    </div>
    {% if item.is_adjusted %}
        <div class="container border border-1 rounded-3 bg-light p-2 mt-3 w-50">
            <h5 class="text-center">This item's purchase quantity was adjusted to match available stock</h5>
        </div>
    {% endif %}
{% endblock %}