{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Add Product Category{% endblock %}
{% block content %}
    <div class="container border border-1 rounded-3 bg-light p-4 mt-5 w-25">
    <h3 class="text-center">Add Product Category</h3>
    <form method=post>
        <dl>
            {{ form.csrf_token }}
            {{ render_field(form.category_name) }}
        </dl>
        <input type=submit value=Submit class="btn btn-primary">
    </form>
    </div>
{% endblock %}