{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Manage Your Products{% endblock %}
{% block content %}
    <div class="container border border-1 rounded-3 bg-light p-4 mt-5 w-50">
    <h3 class="text-center">Manage Your Products</h3>
    {% for product in products %}
        <div class="text-center">
        <a href="{{ url_for("products.manage_product", id=product.id) }}">{{ product.name }} - ${{ product.price }} - {{ product.stock }} item(s) remaining -
            {% if product.is_listed %}Listed{% else %}Unlisted{% endif %}</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}