{% extends 'authBase.html' %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Update Password{% endblock %}
{% block content %}
    <div class="container border border-1 rounded-3 bg-light p-4 mt-5 w-25">
    <h3 class="text-center">Update Password</h3>
    <form method=post>
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.old_password) }}
            {{ render_field(form.new_password) }}
            {{ render_field(form.new_password_confirm) }}
        </dl>
        <input type=submit value=Login class="btn btn-primary">
    </form>
    </div>
{% endblock %}